{
  "extends": "@tinytot/eslint-config/typescript",
  "overrides": [
    {
      "files": [
        "packages/rollup-factory/src/**/*.{ts,js}",
        "packages/babel-preset-config/**/*.js",
        "packages/browserslist-config/**/*.js",
        "packages/webpack-config-factory/**/*.js",
        "packages/validate-schema/**/*.js",
        "scripts/**/*.js"
      ],
      "extends": "@tinytot/eslint-config/typescript-node"
    }
  ]
}