{
  "extends": "@tinytot/eslint-config",
  "overrides": [
    {
      "files": [
        "packages/**/*.ts"
      ],
      "extends": "@tinytot/eslint-config/typescript"
    },
    {
      "files": [
        "packages/**/*.tsx"
      ],
      "extends": "@tinytot/eslint-config/react"
    }
  ]
}